<header class='header l-header'>
    <div class='header-menu-button'>
        <button aria-label='Меню' class='menu-button buttons'>
            <span aria-hidden='true'></span>
        </button>
    </div>
    <form name='search-form' action='search-form' method='get' id='search-form' class='header-search-field is-hidden'>
        <input aria-label='Поле поиска' type='search' class='search-field search-field-active' value='' placeholder='Поиск...' />
    </form>
    <div class='header-search-en-logo'>
        <div class='header-search-button'>
            <button aria-label='Открыть поиск' name='search-button' class='search-button buttons'></button>
        </div>
        <div class='header-logo'>
            <a aria-label='Логотип' href='/'>
                <img class='logo' src='/img/logo.svg' alt='Logo' />
            </a>
        </div>
    </div>
</header>

<div class='menu l-menu is-hidden'>
    <nav class='menu-nav'>
        <ul>
            <li><a href='/'>Главная</a></li>
            <li><a href='/playlists'>Подборки</a></li>
            <li><a href='/authors'>Авторы</a></li>
            <li><a href='/about'>О&nbsp;проекте</a></li>
        </ul>
    </nav>
    <footer class='menu-footer'>
        <div class='footer-container'>
            <span class='copyright footer-text'>©&nbsp;2021&nbsp;-&nbsp;2022&nbsp;ITshka.ru</span>
            <span class='footer-text'>
                <a href='/dcma'>DCMA</a>
                |
                <a href='/privacy-policy'>Политика&nbsp;конфиденциальности</a>
            </span>
        </div>
    </footer>
</div>